<a href="https://colab.research.google.com/github/moura07/portfolio-analise-dados-ecommerce/blob/main/03_python/01_eda_limpeza.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
# Montar Drive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [14]:
# Definir Caminho dos Dados e Listar Arquivos

import os

DATA_RAW = "/content/drive/MyDrive/olist_raw"
print("DATA_RAW:", DATA_RAW)

files = os.listdir(DATA_RAW)
print("Qtd arquivos:", len(files))
print("Primeiros 20:", files[:20])

DATA_RAW: /content/drive/MyDrive/olist_raw
Qtd arquivos: 6
Primeiros 20: ['olist_customers_dataset.csv', 'olist_order_items_dataset.csv', 'olist_order_payments_dataset.csv', 'olist_orders_dataset.csv', 'olist_products_dataset.csv', 'product_category_name_translation.csv']

In [24]:
# Função "read_csv_safe" (leitura "segura" de CSV)

import pandas as pd
import os

def read_csv_safe(filename: str) -> pd.DataFrame:
  path = os.path.join(DATA_RAW, filename)
  if not os.path.exists(path):
    raise FileNotFoundError(f"Não encontrei: {path}\nConfira se o arquivo está em /MyDrive/olist_rew/")
  df = pd.read_csv(path)
  print(f"OK: {filename} -> {df.shape[0]:,} linhas x {df.shape[1]} colunas")
  return df

In [25]:
# Carregar Tabelas (core)

orders = read_csv_safe("olist_orders_dataset.csv")
order_items = read_csv_safe("olist_order_items_dataset.csv")
customers = read_csv_safe("olist_customers_dataset.csv")
payments = read_csv_safe("olist_order_payments_dataset.csv")
products = read_csv_safe("olist_products_dataset.csv")

OK: olist_orders_dataset.csv -> 99,441 linhas x 8 colunas
OK: olist_order_items_dataset.csv -> 112,650 linhas x 7 colunas
OK: olist_customers_dataset.csv -> 99,441 linhas x 5 colunas
OK: olist_order_payments_dataset.csv -> 103,886 linhas x 5 colunas
OK: olist_products_dataset.csv -> 32,951 linhas x 9 colunas

In [23]:
# Ver Tamanho, Colunas e Primeiras Linhas

# .shape mostra (linhas, colunas)
print("orders:", orders.shape)
print("order_items:", order_items.shape)
print("customers:", customers.shape)
print("payments:", payments.shape)
print("products:", products.shape)

# Visualiza Primeiras Linhas (amostra)
display(orders.head(3))
display(order_items.head(3))
display(customers.head(3))
display(payments.head(3))
display(products.head(3))

orders: (99441, 8)
order_items: (112650, 7)
customers: (99441, 5)
payments: (103886, 5)
products: (32951, 9)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.0,17.87

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0