<a href="https://colab.research.google.com/github/moura07/portfolio-analise-dados-ecommerce/blob/main/03_python/01_eda_limpeza.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Montar Drive

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Definir Caminho dos Dados e Listar Arquivos

import os

DATA_RAW = "/content/drive/MyDrive/olist_raw"
print("DATA_RAW:", DATA_RAW)

files = os.listdir(DATA_RAW)
print("Qtd arquivos:", len(files))
print("Primeiros 20:", files[:20])

DATA_RAW: /content/drive/MyDrive/olist_raw
Qtd arquivos: 6
Primeiros 20: ['olist_customers_dataset.csv', 'olist_order_items_dataset.csv', 'olist_order_payments_dataset.csv', 'olist_orders_dataset.csv', 'olist_products_dataset.csv', 'product_category_name_translation.csv']

In [4]:
# Função "read_csv_safe" (leitura "segura" de CSV)

import pandas as pd
import os

def read_csv_safe(filename: str) -> pd.DataFrame:
  path = os.path.join(DATA_RAW, filename)
  if not os.path.exists(path):
    raise FileNotFoundError(f"Não encontrei: {path}\nConfira se o arquivo está em /MyDrive/olist_raw/")
  df = pd.read_csv(path)
  print(f"OK: {filename} -> {df.shape[0]:,} linhas x {df.shape[1]} colunas")
  return df

In [5]:
# Carregar Tabelas (core)

orders = read_csv_safe("olist_orders_dataset.csv")
order_items = read_csv_safe("olist_order_items_dataset.csv")
customers = read_csv_safe("olist_customers_dataset.csv")
payments = read_csv_safe("olist_order_payments_dataset.csv")
products = read_csv_safe("olist_products_dataset.csv")

OK: olist_orders_dataset.csv -> 99,441 linhas x 8 colunas
OK: olist_order_items_dataset.csv -> 112,650 linhas x 7 colunas
OK: olist_customers_dataset.csv -> 99,441 linhas x 5 colunas
OK: olist_order_payments_dataset.csv -> 103,886 linhas x 5 colunas
OK: olist_products_dataset.csv -> 32,951 linhas x 9 colunas

In [8]:
# Ver Tamanho, Colunas e Primeiras Linhas

# .shape mostra (linhas, colunas)
print("orders:", orders.shape)
print("order_items:", order_items.shape)
print("customers:", customers.shape)
print("payments:", payments.shape)
print("products:", products.shape)

# Visualiza Primeiras Linhas (amostra)
display(orders.head(3))
display(order_items.head(3))
display(customers.head(3))
display(payments.head(3))
display(products.head(3))

orders: (99441, 9)
order_items: (112650, 7)
customers: (99441, 5)
payments: (103886, 5)
products: (32951, 9)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,ano_mes
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,2017-10
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,2018-07
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,2018-08

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.0,17.87

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0

In [7]:
# Converter Datas

date_cols = [
    "order_purchase_timestamp",
    "order_approved_at",
    "order_delivered_carrier_date",
    "order_delivered_customer_date",
    "order_estimated_delivery_date"
]

for col in date_cols:
    orders[col] = pd.to_datetime(orders[col], errors="coerce")

orders["ano_mes"] = orders["order_purchase_timestamp"].dt.to_period("M").astype(str)

display(orders[["order_purchase_timestamp", "ano_mes"]].head())

  order_purchase_timestamp  ano_mes
0      2017-10-02 10:56:33  2017-10
1      2018-07-24 20:41:37  2018-07
2      2018-08-08 08:38:49  2018-08
3      2017-11-18 19:28:06  2017-11
4      2018-02-13 21:18:39  2018-02

In [9]:
# Carregar e Preparar Tradução

category_translation = read_csv_safe("product_category_name_translation.csv")

category_translation = category_translation.rename(columns={
    "product_category_name": "product_category_name_pt",
    "product_category_name_english": "product_category_name_en"
})

display(category_translation.head())

OK: product_category_name_translation.csv -> 71 linhas x 2 colunas

  product_category_name_pt product_category_name_en
0             beleza_saude            health_beauty
1   informatica_acessorios    computers_accessories
2               automotivo                     auto
3          cama_mesa_banho           bed_bath_table
4         moveis_decoracao          furniture_decor

In [12]:
# Criar Base Analítica (Join) para KPIs
# Base analítica por item (df_items)
# Objetivo: Juntar as tabelas em uma visão pronta para KPI

# 1) Começamos por order_items (linha por item vendido)
df_items = order_items.copy()

# 2) Criamos uma coluna de receita por item incluindo frete
# (Isso é úil porque algumas análises querem "itens", outras "intes+frete")
df_items["revenue_item_with_freight"] = df_items["price"] + df_items["freight_value"]

# 3) Juntamos com orders para trazer data, status e customer_id
# on="order_id" é a chave que conecta item -> pedido
df_items = df_items.merge(
    orders[["order_id", "customer_id", "order_status", "order_purchase_timestamp", "ano_mes"]],
    on="order_id",
    how="left" # left = mantém todos os itens mesmo se algo estiver faltando
)

# 4) Juntamos com customers para trazer localização (estado e cidade)
df_items = df_items.merge(
    customers[["customer_id", "customer_state", "customer_city"]],
    on="customer_id",
    how="left"
)

# 5) Juntamos com products para trazer categoria
df_items = df_items.merge(
    products[["product_id", "product_category_name"]],
    on="product_id",
    how="left"
)

# 6) Juntamos com tradução de categoria
# Aqui conectamos: products.product_category_name (pt) -> translation.product_category_name_pt
df_items = df_items.merge(
    category_translation,
    left_on="product_category_name",
    right_on="product_category_name_pt",
    how="left"
)

print("df_items:", df_items.shape)
display(df_items.head(3))

df_items: (112650, 17)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,revenue_item_with_freight,customer_id,order_status,order_purchase_timestamp,ano_mes,customer_state,customer_city,product_category_name,product_category_name_pt,product_category_name_en
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,72.19,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09,RJ,campos dos goytacazes,cool_stuff,cool_stuff,cool_stuff
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93,259.83,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04,SP,santa fe do sul,pet_shop,pet_shop,pet_shop
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.0,17.87,216.87,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01,MG,para de minas,moveis_decoracao,moveis_decoracao,furniture_decor

In [13]:
# KPIs essenciais

# Total de pedidos únicos
total_orders = df_items["order_id"].nunique()

# Receita total
revenue_items = df_items["price"].sum()

# Frete total
freight_total = df_items["freight_value"].sum()

# Receita itens + frete
revenue_with_freight = df_items["revenue_item_with_freight"].sum()

# Ticket médio por pedido (usando receita de itens)
avg_ticket = revenue_items / total_orders

print(f"Total de pedidos: {total_orders:,}")
print(f"Receita (itens): {revenue_items:,.2f}")
print(f"Frete total: {freight_total:,.2f}")
print(f"Receita (itens + frete): {revenue_with_freight:,.2f}")
print(f"Ticket médio (itens/pedido): {avg_ticket:,.2f}")

Total de pedidos: 98,666
Receita (itens): 13,591,643.70
Frete total: 2,251,909.54
Receita (itens + frete): 15,843,553.24
Ticket médio (itens/pedido): 137.75

In [23]:
# KPI Mensal
# Objetivo: Entender a evolução do negócio ao longo do tempo

kpi_mensal = (
    df_items
    .groupby("ano_mes", as_index=False)
    .agg (
        revenue_items=("price", "sum"),
        freight_total=("freight_value", "sum"),
        orders=("order_id", "nunique")
    )
)

# Criamos ticket médio mensal
kpi_mensal["avg_ticket"] = kpi_mensal["revenue_items"] / kpi_mensal["orders"]
kpi_mensal["avg_ticket_with_freight"] = kpi_mensal["revenue_items"] + kpi_mensal["freight_total"] / kpi_mensal["orders"]
kpi_mensal["avg_ticket"] = kpi_mensal["avg_ticket"].round(2)
kpi_mensal["avg_ticket_with_freight"] = kpi_mensal["avg_ticket_with_freight"].round(2)
kpit_mensal = kpi_mensal.sort_values("ano_mes")

display(kpi_mensal.head())

,ano_mes,revenue_items,freight_total,orders,avg_ticket,avg_ticket_with_freight
0,2016-09,267.36,87.39,3,89.12,296.49
1,2016-10,49507.66,7301.18,308,160.74,49531.37
2,2016-12,10.90,8.72,1,10.90,19.62
3,2017-01,120312.87,16875.62,789,152.49,120334.26
4,2017-02,247303.02,38977.60,1733,142.70,247325.51

In [25]:
# KPI por estado
# Objetivo: Identificar concentração geográfica das vendas

kpi_estado = (
    df_items
    .groupby("customer_state", as_index=False)
    .agg(
        revenue_items=("price", "sum"),
        orders=("order_id", "nunique")
    )
)

# Ticket médio por estado
kpi_estado["avg_ticket"] = kpi_estado["revenue_items"] / kpi_estado["orders"]

# Ordenamos por faturamento
kpi_estado = kpi_estado.sort_values("revenue_items", ascending=False)

display(kpi_estado.head(10))

   customer_state  revenue_items  orders  avg_ticket
25             SP     5202955.05   41375  125.751179
18             RJ     1824092.67   12762  142.931568
10             MG     1585308.03   11544  137.327445
22             RS      750304.02    5432  138.126661
17             PR      683083.76    4998  136.671421
23             SC      520553.34    3612  144.117757
4              BA      511349.99    3358  152.278139
6              DF      302603.94    2125  142.401854
8              GO      294591.95    2007  146.782237
7              ES      275037.31    2025  135.820894